@import "src/styles/variables";
@import "src/styles/animation";

.sign-in-form, .sign-up-form {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: $color-white;
  border-radius: 15px;
  box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.84);

  .form-container {
    flex: 1;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $lg;

    .error-container {
      width: 100%;
      height: 35px;
      .error-text {
        color: $color-danger;
        font-size: 14px;
      }
    }


  }

}

.product {
  width: 55%;
  height: max-content;
  background: $color-beige;
  border-radius: 15px;
  box-shadow: 3px 5px 15px 2px rgba(0.34,0,0,0.34);
  padding: $lg;
  .error-container {
    width: 100%;
    height: 35px;
    .error-text {
      color: $color-danger;
      font-size: 14px;
    }
  }
}


