@import "variables";
@import "animation";


.container {
  height: 100%;
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-1 {
  flex: 1;
}

.space-between {
  justify-content: space-between !important;
}
.space-around {
  justify-content: space-around !important;
}
.align-center {
  align-items: center !important;
}
.align-start {
  align-items: flex-start !important;
}
.align-end {
  align-items: flex-end !important;
}
.direction-column {
  flex-direction: column;
}
.direction-row {
  flex-direction: row;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.d-none {
  display: none;
}

.m-sm {
  margin: $sm !important;
}
.m-b-sm {
  margin-bottom: $sm !important;
}
.m-t-sm {
  margin-top: $sm !important;
}
.m-l-sm {
  margin-left: $sm !important;
}
.m-r-sm {
  margin-right: $sm !important;
}

.m-md {
  margin: $md !important;
}
.m-b-md {
  margin-bottom: $md !important;
}
.m-t-md {
  margin-top: $md !important;
}
.m-l-md {
  margin-left: $md !important;
}
.m-r-md {
  margin-right: $md !important;
}

.m-lg {
  margin: $lg !important;
}
.m-b-lg {
  margin-bottom: $lg !important;
}
.m-t-lg {
  margin-top: $lg !important;
}
.m-l-lg {
  margin-left: $lg !important;
}
.m-r-lg {
  margin-right: $lg !important;
}

.padding-0 {
  padding: 0 !important;
}

.p-sm {
  padding: $sm !important;
}
.p-b-sm {
  padding-bottom: $sm !important;
}
.p-t-sm {
  padding-top: $sm !important;
}
.p-l-sm {
  padding-left: $sm !important;
}
.p-r-sm {
  padding-right: $sm !important;
}

.p-md {
  padding: $md !important;
}
.p-b-md {
  padding-bottom: $md !important;
}
.p-t-md {
  padding-top: $md !important;
}
.p-l-md {
  padding-left: $md !important;
}
.p-r-md {
  padding-right: $md !important;
}

.p-lg {
  padding: $lg !important;
}
.p-b-lg {
  padding-bottom: $lg !important;
}
.p-t-lg {
  padding-top: $lg !important;
}
.p-l-lg {
  padding-left: $lg !important;
}
.p-r-lg {
  padding-right: $lg !important;
}

.splash {
  animation-name: splash;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
