@import "src/styles/variables";

.form-title {
  width: 100%;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: $color-main;
  font-family: sans-serif;
  justify-content: center;
  padding: $lg;
}