@import "src/styles/variables";

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%
}

.product-view {
  height: 400px;
  width: 250px;
  background: $color-beige;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $lg;
  margin: $lg;
  border-radius: 13px;
  box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.34);;
}