@import "src/styles/variables";

.auth-container, .main-container, .page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container {
  background: $color-main;
}
.main-container {
  background: $color-white;
}