@import "src/styles/base";
@import "src/styles/variables";

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Montserrat", monospace;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

*, :after, :before {
  box-sizing: border-box;
}